body {
    background: rgb(144, 42, 42);
    font: normal 20pt Arial;

}

/* Formatação do Cabeçalho e titulos */
header h1 {
    color: rgb(66, 66, 66);
    text-align: center;
    font-family: Arial;
    font-size: 30pt;
    text-shadow: 2px 2px 2px white;
    

}

header h2 {
    color: rgb(66, 66, 66);
    text-align: center;
    font-family: Arial;
    font-size: 30pt;
    text-shadow: 2px 2px 2px white;
    padding-bottom: 40px;
    border-bottom: 2px #606060 solid;
    
}

/* Formatação de imagens */
img {
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 4px black;
    position: absolute;
    top: 10px;
    right: 90px; 
}



section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
    margin-top: 70px;
    margin-bottom: 30px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}
    
    /*apply style to the whole page*/
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


/*Apply style to labels*/
label {
    display: block;
    background: rgb(206, 143, 143);
    padding-bottom: 5px;
}

/*Apply style to button*/
.buttonSend, .buttonList {
    width: 80px;
    height: 20px;
}



